@import 'Styles/variables.scss';

.header {
  position: fixed;
  height: $mHeaderHeight;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 0.02px solid #d6d6d6;
  z-index: 1;

  .header__title {
    font-weight: bold;
    color: #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100px;
    text-align: center;
  }

  .header__btn {
    padding: 16px;
    color: $orange;
  }
}
