@font-face {
    font-family: 'Inter';
    font-style: normal;
    src: url('./fonts/inter.ttf') format('ttf'),
    url('./fonts/inter.ttf') format('ttf');
    font-display: block;
}

@font-face {
    font-family: 'Inter Light';
    src: local('Inter Light'), local('Inter-Light'),
    url('./fonts/Inter-Light-BETA.woff') format('woff'),
    url('./fonts/Inter-Light-BETA.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Bold'), local('Inter-Bold'),
    url('./fonts/Inter-Bold.woff') format('woff'),
    url('./fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-SemiBold.woff') format('woff'),
    url('./fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu-Regular.eot');
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
    url('./fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Ubuntu-Regular.woff') format('woff'),
    url('./fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu-Light.eot');
    src: local('Ubuntu Light'), local('Ubuntu-Light'),
    url('./fonts/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Ubuntu-Light.woff') format('woff'),
    url('./fonts/Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu-LightItalic.eot');
    src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'),
    url('./fonts/Ubuntu-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Ubuntu-LightItalic.woff') format('woff'),
    url('./fonts/Ubuntu-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu-Medium.eot');
    src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
    url('./fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Ubuntu-Medium.woff') format('woff'),
    url('./fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu-Italic.eot');
    src: local('Ubuntu Italic'), local('Ubuntu-Italic'),
    url('./fonts/Ubuntu-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Ubuntu-Italic.woff') format('woff'),
    url('./fonts/Ubuntu-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu-Bold.eot');
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
    url('./fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Ubuntu-Bold.woff') format('woff'),
    url('./fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu-BoldItalic.eot');
    src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'),
    url('./fonts/Ubuntu-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Ubuntu-BoldItalic.woff') format('woff'),
    url('./fonts/Ubuntu-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu-MediumItalic.eot');
    src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'),
    url('./fonts/Ubuntu-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Ubuntu-MediumItalic.woff') format('woff'),
    url('./fonts/Ubuntu-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
