@import './variables.scss';
@import './fonts.css';
*,
*::before,
*::after {
  box-sizing: border-box;
}

label,
button,
a,
select {
  cursor: pointer;
  outline: none;
  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  &:focus, &:hover, &:visited, &:link, &:active {
    text-decoration: none;
  }
}

.absolute_centre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.bg_light {
  background-color: white;
  border-radius: 10px;
}
div[class^="entrance_bg"] {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
.entrance_bg {
  &_1 {
    background-image: url("../img/bg1.jpg");
  }
  &_2 {
    background-image: url("../img/bg2.jpg");
  }
  &_3 {
    background-image: url("../img/bg3.jpg");
  }
  &_4 {
    background-image: url("../img/bg4.jpg");
  }
  &_5 {
    background-image: url("../img/bg5.jpg");
  }
  &_6 {
    background-image: url("../img/bg6.jpg");
  }
  &_7 {
    background-image: url("../img/bg7.jpg");
  }
  &_8 {
    background-image: url("../img/bg8.jpg");
  }
}

.flex-direction_row {
  flex-direction: row !important;
}
