@import 'Styles/variables.scss';

@mixin button($color: #FF782D, $textColor: #FFF, $hoverColor: #FE6F20) {
  background: $color;
  border-radius: 50px;
  padding: 13px 25px;
  border: none;
  color: $textColor;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.06em;
  transition: .4s;
  font-weight: 600;
  svg {
    margin-left: 10px;
  }
  &:hover {
    background: $hoverColor;
  }
}

@mixin link($textColor: $link, $hoverColor: $link, $borderPadding: 1) {
  color: $textColor;
  font-size: 14px;
  display: inline-block;
  border-bottom: #{"#{$borderPadding}px"} solid $textColor;
  padding-bottom: #{"#{$borderPadding}px"};
  width: fit-content;
  &:focus, &:hover, {
    border: none;
    padding-bottom: #{"#{calc($borderPadding*2)}px"};
    color: $hoverColor;
  }
}

@mixin field() {
  outline: none;
  &:hover {
    border: 1px solid $darkGrey;
  }
  &:focus {
    border: 1px solid $orange;
  }
}
