$mHeaderHeight: 58px;
$mMenuHeight: 58px;






// colors
$lightGrey: #E5E5E5;
$darkGrey: #49585F;
$blueGrey: #A3A6C0;
$grey: #97A3B4;
$grey2: #67767D;
$text: #8CA4AF;
$title: #67767D;
$orange: #FF782D;

$link: #0FC0F8;
$link_underline: #1BC7ED;




//fonts
$Inter: 'Inter', sans-serif;

@keyframes width {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes height {
  from {
    height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
