@import 'Styles/variables.scss';
@import 'Styles/mixins.scss';

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  animation: fadeIn .5s both;
  .modal-window__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(54, 63, 75, 0.7);
    .modal-window__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #FFFFFF;
      box-shadow: 0 8px 40px rgba(47, 63, 148, 0.2);
      border-radius: 10px;
      padding: 40px 60px;
      .modal-window__content__title {
        font-family: 'Ubuntu', 'Inter', sans-serif;
        font-size: 32px;
        line-height: 37px;
        letter-spacing: 0.04em;
        color: $grey2;
        margin-bottom: 40px;
      }
      .modal-window__content__form {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .field {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
          span {
            color: $grey2;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 7px;
          }
          input, textarea {
            @include field;
            width: 540px;
            border: 1px solid #E1E5E9;
            color: $darkGrey;
            font-size: 14px;
            font-weight: 500;
            line-height: 17px;
            padding: 10px 14px;
            &::placeholder {
              color: $blueGrey;
              font-weight: 400;
            }
          }
          &.email {
            span {
              align-self: center;
            }
          }
        }

        .text_field {
          color: $grey2;
          width: 540px;
          margin-bottom: 30px;
        }

        .link_field {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          margin-bottom: 40px;
          svg {
            margin-right: 10px;
          }
          span.link {
            font-size: 14px;
            cursor: pointer;
            border-bottom: 2px dashed $link_underline;
            transition: .3s;
            &:hover {
              border-bottom: 2px dashed transparent;
            }
          }
          .upload_input {
            display: none;
          }
          .upload_filename {
            width: 100%;
            margin-top: 15px;
            margin-left: 28px;
          }
        }

        .modal-window__content__form__btn_line {
          width: 100%;
          display: flex;
          margin-top: 20px;

          .btn_send {
            @include button($orange, #fff, #FE6F20);
            font-weight: 400;
            font-size: 14px;
            padding: 13px 21px;
            display: flex;
            align-items: center;
            svg {
              width: 20px;
              height: 20px;
              path {
                fill: #fff;
              }
            }
          }

          .btn_delete {
            @include button($blueGrey, #fff, #9094B8);
            font-weight: 500;
            font-size: 14px;
            padding: 13px 29px;
            display: flex;
            align-items: center;
            svg {
              margin-right: 10px;
              path {
                fill: #fff;
              }
            }
          }

          .btn_cancel {
            @include button(transparent, $blueGrey, transparent);
            &:hover {
              color: #9094B8;
            }
          }
        }

      }
      .modal-window__close {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
      }
    }
  }
  .modal-select__control:hover {
    border: 1px solid $grey2 !important;
  }
  .modal-select__control.modal-select__control--menu-is-open.modal-select__control--is-focused {
    outline: 1px solid #FF782D;
    border: 1px solid transparent !important;
  }
  .modal-select__placeholder {
    color: $blueGrey;
    font-size: 14px;
  }
  .modal-select__indicator {
    margin: 0px auto;
    svg {
      width: 20px;
      height: 20px;
      path {
        fill: $blueGrey;
      }
    }
  }
  .modal-select__option {
    color: $text;
    font-weight: 500;
    padding: 12px;
  }
}
