@import 'Styles/variables.scss';

.content-exercises__list__exercise-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  .content-exercises__list__exercise-item__wrapper-avatar {
    background: linear-gradient(45deg, #c02425, #f0cb35);
    width: 84px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
  }
  .content-exercises__list__exercise-item__info {
    font-weight: bold;
    width: calc(100% - 120px);
  }
}
