@import 'Styles/variables.scss';

.menu {
  position: fixed;
  height: $mMenuHeight;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #fff;
  border-top: 0.02px solid #d6d6d6;
  z-index: 1;

  .menu__item {
    position: relative;
    .menu__item__link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 240px;
      color: $darkGrey;
      font-size: 14px;
      position: relative;

      svg {
        path {
          fill: #DADADA;
        }
      }
    }
    .menu__item_active {
      color: #000;
      svg {
        path {
          fill: #FF782D;
        }
      }
    }
    .menu__item__notifications {
      position: absolute;
      top: -3px;
      left: 79%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      .menu__item__notifications__value {
        display: block;
        font-size: 11px;
        text-align: center;
        background-color: #e83841;
        color: #fff;
        border-radius: 9px;
        min-width: 18px;
        height: 18px;
        padding: 0px 4px;
      }
    }
  }

}
