@import 'Styles/main.scss';

.message {
  position: fixed;
  bottom: 0;
  right: 0;
  color: #fff;
  padding: 10px;
  z-index: 2;
  &.red {
    background-color: red;
  }
  &.green {
    background-color: green;
  }
}
