@import 'Styles/variables.scss';

.MuiInputBase-root.Mui-disabled {
  color: #000 !important;
}
.MuiInput-underline:after {
  border-bottom: 1px solid $orange !important;
}
.MuiInput-underline:before {
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.42) !important;
}
