@import 'Styles/variables.scss';

 .content-user-info__user-info {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
   background-color: #fff;
   padding: 15px;
   .content-user-info__user-info__link {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     padding: 10px 0;
     border-bottom: 0.4px solid #dcdcdc;
     color: #000;

     .content-user-info__user-info__link__notifications {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
       font-weight: bold;
       .content-user-info__user-info__link__notifications__value {
         display: block;
         text-align: center;
         background-color: #e83841;
         color: #fff;
         border-radius: 12px;
         min-width: 24px;
         height: 24px;
         padding: 0px 7px;
       }
       svg {
         color: #d8d8d8;
         margin-left: 6px;
       }
     }
     &:first-child {
       padding-top: 0;
     }
     &:last-child {
       border-bottom: none;
       padding-bottom: 0;
     }
   }
   &.content-user-info__user-info_edit {
     &>div {
       margin-bottom: 10px;
     }
   }
 }
.content-user-info__user-info__change-password {
  width: 100%;
  background-color: #fff;
  margin: 10px 0;
  padding: 15px;
  .content-user-info__user-info__change-password__item {
    display: flex;
    justify-content: space-between;
  }
}
.btn-logout {
  text-align: center;
  background-color: #fff;
  padding: 12px;
  color: red;
}
